<h1>Showing selected article</h1>
<p>Title: <%= @article.titles %></p>
<p>Description: <%= @article.description %></p>
<%= link_to "Edit article", edit_article_path(@article) %> |
<%= link_to "Go back to listing page", articles_path %>